#taskContainer {
    display: inline-block;
    margin-top: 1em;
}

.displaySection {
    display: inline-block;
    height: 20em;
    text-align: center;
    width: calc(40vw - .8em);
}

.section1, .section3 {
    border: 1px #000000 solid;
    height: 20em;
    overflow-y: scroll;
    text-align: left;
    width: 100%;
    margin-bottom: .5em;
}

.collection-item {
    padding: .5em;
    user-select: none;
    cursor: pointer;
}

.collection-item input {
    margin-right: .5em;
}

:nth-child(odd of .collection-item) {
    background-color: #ebebeb;
}

.section2 {
    width: 20vw;
    text-align: center;
    overflow: hidden;
}

.section2 button {
    width: 75%;
    margin-bottom: .5em;
}

body {
    margin: .5em;
}

.header {
    text-align: center;
    font-size: large;
    margin-top: .5em;
    margin-bottom: .5em;
}

ul {
    margin-block-start: 0;
}

.collection label {
    display: block;
}

summary {
    user-select: none;
    cursor: pointer;
}