body {
    margin: 0;
}
#uiContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 100vh;
}
#topicOptions, #addTopic, #addedTopics, #notifications, #globalControls {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#globalControls {
    grid-column: 1 / span 2;
    grid-row: 1;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
}
#globalControls .orgName {
    grid-column: 1 / span 10;
    grid-row: 1;
    justify-self: center;
}
#globalControls .orgId {
    grid-column: 1 / span 10;
    grid-row: 2;
    justify-self: center;
}
#globalControls .buttonContainer {
    grid-column: 1 / span 10;
    grid-row: 3;
    justify-self: right;
}
#globalControls .buttonContainer button {
    margin-right: .5em;
}
#topicOptions {
    grid-column: 1;
    grid-row: 2 / span 6;
    overflow-y: scroll;
}
#addTopic {
    grid-column: 2;
    grid-row: 2 / span 2;
}
#addedTopics {
    grid-column: 2;
    grid-row: 4 / span 4;
    overflow-y: scroll;
}
#notifications {
    grid-column: 1 / span 2;
    grid-row: 8 / span 9;
    overflow-y: scroll;
}
.header {
    position: sticky;
    top: 0;
    background-color: lightgrey;
    text-align: center;
    margin: 0;
    padding: .25em;
}
.addedTopic, .topicOption {
    padding: .5em;
    border: 1px solid black;
    border-radius: .25em;
    margin: .25em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.fullNotificationBody {
    overflow-y: scroll;
    max-height: 20em;
}
summary {
    cursor: pointer;
    user-select: none;
}
details {
    padding: .5em;
    margin: .25em;
    border: 1px solid black;
    border-radius: .25em;
}
.addedTopic button, .topicOption button {
    grid-column: 5;
}
.addedTopic span, .topicOption span {
    grid-column: 1 / span 4;
    white-space: nowrap;
    overflow-x: hidden;
}
#topicConfig {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#topicConfig label {
    display: block;
    padding-bottom: .25em;
}
#topicConfig .topicInputs {
    grid-row: 2 / span 2;
    grid-column: 1 / span 4;

}
#topicConfig button {
    grid-row: 3;
    grid-column: 5;
}
#topicConfig .topicName {
    grid-row: 1;
    grid-column: 1 / span 5;
    white-space: nowrap;
    overflow-x: hidden;
}
#topicConfig {
    margin-left: .25em;
    margin-right: .25em;
    padding-left: .5em;
    padding-right: .5em;
}