.treatmentBody {
    border: 1px solid black;
    border-radius: 5px;
    width: calc(60vw - 2px);
    margin: .5em;
    padding: .5em;
    background-color: #ececec;
}
.actionBody select, .actionBody button, .actionBody input, .treatmentBody button, .treatmentBody input {
    margin-right: .5em;
}
.paramsBody label {
    display: block;
    margin: .5em;
}
.actionList {
    margin: 0px;
}
.actionList li {
    margin-top: .5em;
    margin-right: .5em;
}
#output {
    width: 60vw;
    height: 20vh;
    padding: .5em;
    margin: .5em;
}

@media (max-width: 700px) {
    .treatmentBody, #output {
        width: calc(100% - 2em);
    }
}