#tabList {
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}
#tabList::-webkit-scrollbar {
    width: 0;
    height: 0;
}
summary {
    user-select: none;
    margin-top: .5em;
}
.tabHeader {
    display: inline-block;
    border: 1px solid black;
    padding: .5em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
    background-color: lightgrey;
    user-select: none;
}
.tabHeader.selected {
    background-color: white;
}
#tabContent {
    border: 1px solid black;
}
#userInputs {
    margin: .5em;
    padding: .5em;
}
#userInputs button {
    margin-right: .5em;
}
#page {
    margin: .5em;
}
#header {
    text-align: center;
    padding: .5em;
    background-color: lightgray;
    margin: .5em;
    border-radius: 5px;
    border: 1px solid black;
}
body {
    margin: 0;
}

#loadIcon {
    position: fixed;
    height: 3em;
    width: 3em;
    top: calc(50% - calc(3em / 2));
    left: calc(50% - calc(3em / 2));
    z-index: 10;
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M18.364 5.63604L16.9497 7.05025C15.683 5.7835 13.933 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19C15.866 19 19 15.866 19 12H21C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C14.4853 3 16.7353 4.00736 18.364 5.63604Z'%3E%3C/path%3E%3C/svg%3E");
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    visibility: hidden;
}
#loadIcon.shown{
    visibility: visible;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}